<div id="explore-programme" class="explore">
  <h2>Explore our Programme</h2>
  <form class="frm-explore" action="/programme" method="get">
  <fieldset>
    <label for="sort-by">Sort by:</label>
    <select class="frm-dd frm-txt" id="sort-by" name="sort-by">
      <option value="session-type" selected>Session Type</option>
      <option value="title">Session Title</option>
      <option value="session-day">Session Day</option>
    </select>
  </fieldset>
  </form>
</div>
<section id="sorted-programme"></section>
