<div id="filter-speakers">
  <form class="frm-speakers" action="/speakers/bios/" method="get">
    <fieldset>
      <label for="speaker-search">Search:</label>
      <input type="text" name="speaker-search" id="speaker-search" placeholder="Find a speaker" class="frm-txt frm-filter" />
    </fieldset>
    <fieldset>
      <span class="label">Session Types:</span>
      <input type="checkbox" class="frm-cb" name="speaker-facet" id="facet-workshops" value="workshop" /><label for="facet-workshops">Workshop Leaders</label>
      <input type="checkbox" class="frm-cb" name="speaker-facet" id="facet-keynotes" value="keynote" /><label for="facet-keynotes">Keynotes</label>
      <input type="checkbox" class="frm-cb" name="speaker-facet" id="facet-45-min" value="45-min" /><label for="facet-45-min">45-min Presenters</label>
      <input type="checkbox" class="frm-cb" name="speaker-facet" id="facet-10-min" value="10-min" /><label for="facet-10-min">10-min Presenters</label>
    </fieldset>
    <fieldset>
      <label for="speaker-gender">Gender:</label>
      <input type="checkbox" class="frm-cb" name="speaker-gender" id="facet-m" value="m" /><label for="facet-m">Men</label>
      <input type="checkbox" class="frm-cb" name="speaker-gender" id="facet-w" value="w" /><label for="facet-w">Women</label>
    </fieldset>
    <fieldset>
      <label for="speaker-country">Country:</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-au" value="au" /><label for="facet-au">Australia</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-be" value="be" /><label for="facet-be">Belgium</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-br" value="br" /><label for="facet-br">Brazil</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-ca" value="ca" /><label for="facet-ca">Canada</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-de" value="de" /><label for="facet-de">Germany</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-dk" value="dk" /><label for="facet-dk">Denmark</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-fi" value="fi" /><label for="facet-fi">Finland</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-ie" value="ie" /><label for="facet-ie">Ireland</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-in" value="in" /><label for="facet-in">India</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-is" value="is" /><label for="facet-is">Israel</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-nl" value="nl" /><label for="facet-nl">Netherlands</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-se" value="se" /><label for="facet-se">Sweden</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-uk" value="uk" /><label for="facet-uk">United Kingdom</label>
      <input type="checkbox" class="frm-cb" name="speaker-country" id="facet-us" value="us" /><label for="facet-us">United States</label>
    </fieldset>
  </form>
</div>
