<div id="stuff" class="foo"><div class="wrap clearfix">
  <article class="hero col">
    
    <img width="640" height="331" alt="Bridge and Convention Center" src="http://interaction12.ixda.org/wp-content/uploads/2011/08/very_large_dublin_bridge_dark.jpg" />
    <div id="welcome" class="details">
      <h1>Welcome to the new home of Interaction</h1>
      <p>Interaction|12 is taking place in Dublin, Ireland during the first week of February 2012. This marks a historic turning point for the Interaction Design Association's annual conference as it is being hosted in Europe for the first time.</p>
      <p>Proceedings begin on Wednesday, February the 1st, with an optional day of workshops being held on campus at Interaction|12 partner college the Institute of Art, Design and Technology (IADT).</p> 
      <p>The conference experience runs from Wednesday the 1st to Saturday the 4th of February at the brand new, state-of-the-art and carbon-neutral Convention Centre Dublin.</p>
      <a title="Toggle Display" class="toggle" data-closed="41" data-open="210" data-c-actions="slideTo" href="#welcome">Welcome to the new home of Interaction</a>
    </div>
  </article>
  <div class="welcome">
    <h2>Interaction 12</h2>
    <h3>Comes to Europe</h3>
    <p>An exhilarating program run by the global IxDA Community</p>
    <a href="#" class="register-today"><em>Register Today</em> full conference pass: &#8364;695</a>
  </div>
</div></div>